.event-form-container{
    margin: 50px auto;
    width: 700px;
    height: 500px;
}

.event-form-container label{
    font-size: 40px;
    font-weight: 700;
    margin: 30px;
    text-align: center;
}

.event-form-content label input[type="text"], .event-form-content label input[type="date"]{
    margin: 70px auto;
    width: 700px;
    height: 40px;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
    border-style: none;
    font-size: 20px;
    border: 1px solid rgba(0,0,0,.12);
}

.event-form-content label textarea{
    margin: 70px auto;
    width: 700px;
    height: 130px;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
    border-style: none;
    font-size: 20px;
    border: 1px solid rgba(0,0,0,.12);
}

.event-form-content label textarea{
     margin: 70px auto;
    width: 700px;
    height: 130px;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
    border-style: none;
    font-size: 20px;
    border: 1px solid rgba(0,0,0,.12);
}

.event-form-next{
    position: absolute;
    bottom: 20%;
    right: 20%;
    width: 120px;
    height: 35px;
    border-radius:4px;
    background-color: #f13a59;
    text-align: center;
    padding: 10px;
    color: white;
    font-weight: 600;
    box-sizing: border-box;
}

.event-form-next:hover{
    cursor: pointer;
    background-color: red;
}

.event-form-container input[type='submit']{
    font-family: inherit;
    border: 0;
    margin-top: 114px;
    width: 200px;
    height: 35px;
    border-radius: 4px;
    background-color: #f13a59;
    text-align: center;
    padding: 10px;
    color: white;
    font-weight: 600;
    box-sizing: border-box;
    font-size: 16px;
}

.event-form-container input[type='submit']:hover{
    cursor: pointer;
    background-color: red;
}

.event-form-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}