.group-show-container{
    background-size: cover;
    width: 1000px;
    margin: 0 auto;
}

.group-show-background{
    background-color: #f1f1f1;
    position: absolute;
    width: 100%;
    min-height: 100%;
    z-index: -2;
}

.group-show-header{
    height: 350px;
    border-bottom: 1px solid #aaaaaa;
    box-sizing: border-box;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    background-size: 350px 100%;
}

.group-image-show{
    height: 330px;
    width: 600px;
    background-color: blue;
    border-radius: 10px;
}

.group-header-info{
    width: 370px;
    height: 330px;
}

.group-header-info h1{
    font-size: 34px;
    font-weight: 600;
}

.group-header-info ul{
    margin-top: 40px;
    font-size: 16px;
}

.group-header-info ul li{
    color: #777777;
    margin-top: 10px;
}

.group-show-navigation{
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.join-group-button{
    background-color: #f13a59;
    height: 40px;
    width: 140px;
    border-radius: 5px;
    transition-duration: 0.7s;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    box-sizing: border-box;
    padding: 12px 5px;
}

.join-group-button:hover, .joined-group-button:hover{
    background-color: red;
    cursor: pointer;
}

.joined-group-button{
    background-color: red;
    height: 40px;
    width: 140px;
    border-radius: 5px;
    transition-duration: 0.7s;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    box-sizing: border-box;
    padding: 12px 5px;
}

.group-show-details{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.group-show-desc{
    width: 600px;
}

.group-show-desc h1{
    font-size: 24px;
    font-weight: 600;
}

.group-show-desc p{
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.2;
}

.group-show-events{
    margin-top: 50px;
}

.group-show-events h1{
    margin-bottom: 30px;
}

.group-organizer{
    width: 370px;
}

.group-organizer h1{
    font-size: 24px;
    font-weight: 600;
}

.group-organizer div{
    margin-top: 20px;
    font-size: 18px;
}

.group-show-event-item{
    height: 250px;
    width: 350px;
    box-shadow: 0px 0px 3px #777777;
    border-radius: 6px;
    margin: 5px;
    padding: 15px;
    transition-duration: 0.3s;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 20px;
    background-color: white;
}

.group-show-event-item:hover{
    cursor: pointer;
    box-shadow: 0px 2px 5px #666666;
    transform: translateY(-2px)
}