.main-greeting{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 70px;
}

.main-greeting h2{
    font-size: 42px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 600;
    text-shadow: 0px 0px 2px #555555;
}

.main-greeting p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 600;
    padding: 15px;
    text-shadow: 0px 0px 2px #555555;
}

.greeting-button{
    background-color: #f13a59;
    height: 50px;
    width: 320px;
    border-radius: 5px;
    position: relative;
    bottom: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.7s;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}


.greeting-button:hover{
    cursor: pointer;
    background-color: red;
}

/* slideshow */

.slide-fade{
    height: 780px;
    width: 150%;
    z-index: -2;
    background-repeat: no-repeat;
    background-size: cover;
    animation: fadein 15s ease-in infinite, slide 15s linear infinite;
}

#five{
    background-image: url('/soul_calibur_stage.jpg')
}

#four{
    background-image: url('/melee_final_d.jpg')
}

#three{
    background-image: url('/SFV_Ring_of_Power.png')
}

#two{
    background-image: url('/mishima_dojo.jpg');
}

#one{
    background-image: url('/Battlefield.png');
}

@keyframes fadein {
    0%{
        opacity: 0;
    }
    7%{
        opacity: 1;
    }
    92%{
        opacity: 1;
    }
    100%{
        opacity:0;
    }
}


@keyframes slide{
    0%{
        transform: translate3d(-200px, 0, 0);
    }
    100%{
        transform: translate3d(-700px, 0, 0);
    }
}
    
.banana{
    position: absolute;
    overflow: hidden;
    top: -70px;
    z-index: -1;
    height: 630px;
    width: 100%;
    
}

.unlogged-main-content h3{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}

.unlogged-event-index-item{
    height: 220px;
    width: 330px;
    box-shadow: 0px 0px 3px #777777;
    border-radius: 6px;
    margin: 5px;
    padding: 15px;
    box-sizing: border-box;
    transition-duration: 0.3s
}

.unlogged-event-index-item:hover{
    cursor: pointer;
    box-shadow: 0px 2px 5px #666666;
    transform: translateY(-2px)
}

.unlogged-events-index{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.unlogged-main-content{
    margin: 0 auto;
    width: 60%;
}

.unlogged-event-info{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.unlogged-event-date{
    color: rgba(59, 175, 243, 0.808);
    font-weight: 600;
}

.unlogged-event-title{
    font-weight: 600;
    font-size: 24px;
}

.unlogged-group-index{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.unlogged-group-item{
    height: 250px;
    width: 230px;
    box-shadow: 0px 0px 3px #777777;
    border-radius: 6px;
    margin: 5px;
    padding: 15px;
    transition-duration: 0.3s;
    box-sizing: border-box;
    overflow: hidden;
}

.unlogged-group-item:hover{
    cursor: pointer;
    box-shadow: 0px 2px 5px #666666;
    transform: translateY(-2px)
}


.unlogged-group-category{
    margin-bottom: 20px;
    font-weight: 600;
    color: #777777;
}

.unlogged-group-name{
    font-weight: 600;
    font-size: 24px;
}

.logged-greeting{
    background-color: #00455d;
    height: 175px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logged-greeting h1{
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin: 10px;
}

.logged-greeting p{
    color: #AAAAAA;
    font-weight: 400;
    margin-top: 15px;
}

.logged-group-container{
    margin: 25px auto;
    width: 900px;
}

.logged-group-container > h3{
    font-size: 16px;
    font-weight: 700;
}

.logged-group-index{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logged-group-item{
    width: 270px;
    height: 170px;
    margin: 10px 0;
    border: 1px solid #BBBBBB;
    padding: 10px;
    border-radius: 3px;
}

.logged-group-item h3{
    margin-top: 70px;
    font-weight: 600;
    font-size: 26px;
}

.logged-group-item:hover{
    cursor: pointer;
}