.nav-bar{
    border-bottom: 1px solid #BBBBBB;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: white;
    box-sizing: border-box;
}

.nav-bar a{
    padding: 10px;
    color: #999999;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 14px
}

.nav-bar a:hover{
    cursor: pointer;
    color: #00a2c7;
}

.logged-in-bar{
    border-bottom: 1px solid #BBBBBB;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
}

.logged-nav-buttons a{
    padding-right: 9px;
    padding-left: 9px;
    text-decoration: none;
}

.other-nav-button{
    color: #999999;
}

#new-group-button{
    border-right: 1px solid #BBBBBB;
    color: red;
}

.other-nav-button:hover{
    text-decoration: underline;
    color: #1f24cc;
}

#new-group-button:hover{
    text-decoration: underline;
}