.nav-bar{
    border-bottom: 1px solid #BBBBBB;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.nav-bar a{
    padding: 10px;
    color: #999999;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 14px
}

.nav-bar a:hover{
    cursor: pointer;
    color: #00a2c7;
}

.logged-in-bar{

}