.session-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: 1px solid #DDDDDD;
    width: 100%;
    height: 350px;
    margin-top: 10px;
}

.form-container{
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #DDDDDD;
    position: relative;
    top: 100px;
    margin: 0 auto;
    height: 450px;
    width: 400px;
    border-radius: 4px;
}

.form-container h3{
    padding: 10px;
    font-size: 40px;
    font-weight: 550;
}

.form-container a{
    text-decoration: none;
    margin: 10px;
}

.session-form label{
    font-size: 12px;
    font-weight: bold;
    margin-left: 25px;
    margin-right: 25px;
}

.session-form input[type="text"], .session-form input[type="password"]{
    width:350px;
    height: 27px;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
    border-style: none;
    background-color: #fafafa;
    border: 1px solid rgba(0,0,0,.12)
}

.session-form input[type="text"]:focus, .session-form input[type="password"]:focus{
    background-color: white;
}

.session-form input[type="submit"], .demo-button{
    background-color: #f13a59;
    width: 85px;
    height: 35px;
    border: none;
    border-radius: 4px;
    margin-left: 25px;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.session-form input[type="submit"]:hover, .demo-button:hover{
    background-color: red;
    cursor: pointer;
}

.session-errors{
    height: 75px;
    width: 600px;
    background-color: rgba(255, 208, 215, 0.877);
    margin: 0 auto;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 36px;
    padding: 25px;
    text-align: center;
    border-radius: 4px;
}

.session-errors li{
    color: #b80046;
}

.demo-button{
    color: white;
    width: 100px;
    text-align: center;
    box-sizing: border-box;
    padding:  5px;
    padding-top: 9px;
}

.session-buttons{
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
}

.other-form-link{
    margin-left: 10px;
    font-weight: 600;
}

.other-form-link a{
    color: #1f24cc;
}

.other-form-link a:hover{
    text-decoration: underline;
}